@media screen and (min-width:560px){
.fruits-list-container{
    max-width: 500px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    width: 50%;
}
}
.fruit-name, .fruit-picture{
    font-size:2em;
}